@model Madrasa.Models.LogOnModel

@{
	Layout = "";
}
<!DOCTYPE html>
<html>
<head>
<title>Madrasa: Login</title>
<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
<script type="text/javascript">
	//This script is a workaround for chrome issue that overrides the style of a saved username and password.
	if (navigator.userAgent.toLowerCase().indexOf("chrome") >= 0) {
		$(window).load(function () {
			$('input:-webkit-autofill').each(function () {
				var text = $(this).val();
				var name = $(this).attr('name');
				$(this).after(this.outerHTML).remove();
				$('input[name=' + name + ']').val(text);
			});
		});
	}
</script>
<style type="text/css">

.button {
	float: left;
	padding-bottom: 20px;
	clear: both;
	width:40px;
	text-align:center;
	color: black;
	font: bold 14px Arial, sans-serif;
	text-decoration: none;
	padding: 2px 9px;
	position: relative;
	display: inline-block;
	-webkit-transition: border-color .218s;
	-moz-transition: border .218s;
	-o-transition: border-color .218s;
	background:#cf1a1a;
	border: solid 1px #dcdcdc;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	margin-right: 10px;
	border-color: #999;
}


.name {
position: absolute;
top: 100px;
left:288px;	
}

.username{
position: absolute;
top: 400px;
left:720px;
}

.password{
position: absolute;
top: 450px;
left:720px;	
}

.input1 {
	text-align: left;
	font-family: Tahoma;
	width: 180px;
	height: 36px;
	background: none;
	border: none;
	color: black;
	margin-top: 5px;
	margin-left: 5px;
	font-size:16px;
}

.input1:focus {
    outline: none;
}

.fieldHolder
{
	width: 195px;
	height: 45px;
	background: url('../../Content/images/input.png') no-repeat;
	float: left;
}

body 
{
	background-image: url('../../Content/images/background_copy.png'); background-repeat:repeat-x;
}
</style>
</head>

<body>
<form method="post" id="LoginID" action="">


<!--<img src="../../Content/images/login_logo_2.png" class="logo" style="left: 271px; top: 109px" />-->
<img src="@Url.Content("~/content/images/welcome.png")" class="logo" style="position: absolute; left: 300px; top: 115px; height: 500px;" />
<img src="../../Content/images/login_logo_2.png" class="logo" style="position: absolute; right: 15px; bottom: 15px; height: 100px;" />


<div class="fieldHolder username"  style="left: 662px; top: 300px" title="اسم المستخدم">
	<input type="text" name="UserName" class="input1 login" style="background-image:url('../../Content/images/username.png'); background-repeat:no-repeat;  background-position:right;"></input>
</div>


<div class="fieldHolder password" style="left: 662px; top: 350px">
	<input type="password" class="input1 login"  name="password" value="" title="كلمة المرور"  style="background-image:url('../../Content/images/password.png'); background-repeat:no-repeat;background-position:right; "></input>
</div>

    <div class="button" style="font-size: 18px; position: absolute; left: 664px; top: 410px; height: auto;"><input type="image" value="Login" alt="" src="../../Content/images/arrow_copy.png" style="height: auto; width: 30px;" /></div>
    <!--<img style="position: absolute; left: 730px; top: 400px; height: 55px;" src="@Url.Content(("~/content/images/facebook3.png"))" />
    <img style="position: absolute; left: 792px; top: 410px; height: 37px;" src="@Url.Content(("~/content/images/google2.png"))" />-->
</form>
</body>
</html>