@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<ul>
    Subjects:
    <br />
    <li><a href="../Subject/AddNewSubject"> add new subject </a></li>
    <li><a href="../Subject/DeleteSubject"> delete subject </a></li>
    Questions:
    <br />
    <li><a href="../Question/AddQuestion">add new question </a></li>
    <li><a href="../Question/ViewQuestion">view/delete question </a></li>
    Material:
    <br />
    <li><a href="../Material/AddMaterial">add new material </a></li>
    <li><a href="../Material/ViewMaterial">view/delete material </a></li>
    Users:
    <br />
    <li><a href="../User/Register">add User </a></li>
    <li><a href="../User/ViewUser">view/delete User </a></li>
    Schools:
    <br />
    <li><a href="../School/AddSchool">add new School </a></li>
    <li><a href="../School/ViewSchool">view/delete school </a></li>
    SystemRoles:
    <br />
    <li><a href="../Role/AddRemoveRole">add and remove new Role </a></li>
    Class:
    <br />
    <li><a href="../SchoolClass/AddClass">add new class </a></li>
    <li><a href="../SchoolClass/ViewClass">view/delete class </a></li>
    HomeWork:
    <br />
    <li><a href="../Homework/Edit">Add Remove HomeWork</a></li>
    <li><a href="../Homework/studentHomeWork">studentHomeWork View</a></li>
     Course:
    <br />
    <li><a href="../Course/Add">Add Course</a></li>
    <li><a href="../Course/Edit">View Courses</a></li>
    Registration:
    <li><a href="../User/StudentCouresRegistration">Add student to Course</a></li>
    <li><a href="../User/TeacherCouresRegistration">Add Teacher to Course</a></li>
    
    @*SchoolAdmin:
    <br />
    <li><a href="../SchoolAdmins/AddSchoolAdmin">add new admin </a></li>
    <li><a href="../SchoolAdmins/ViewSchoolAdmin">view/delete admin </a></li>
   *@

</ul>