@using Madrasa.Models
@{
    ViewBag.Title = "StudentCouresRegistration";
    List<Teacher> teacherList = ViewBag.teacherList;
    List<Course> courseList = ViewBag.courseList;
}


<h2>StudentCouresRegistration</h2>
<div style="direction:ltr">
@using (Html.BeginForm())
{
     <input type="hidden" name="teacherId" value="1"/>    
    for (var i = 0; i < courseList.Count; i++)
    {
        string value = @courseList[i].Name+"-"
        + teacherList[i].UserId.ToString();
         @Html.RadioButton("courseId", courseList[i].Id) @value
    }
     <input type="submit" value="Add course"/>
}
</div>