@using Madrasa.Models
@{
    ViewBag.Title = "TeacherCouresRegistration";
    List<Course> courseList = ViewBag.courseList;
}

<h2>TeacherCouresRegistration</h2>

<div style="direction:ltr">
@using (Html.BeginForm())
{
    foreach (Course course in courseList)
    {
        <br/>
        @Html.RadioButton("courseId", course.Id.ToString())@course.Name
    }
    <input type="submit" value="Add course"/>
}
</div>