@model IEnumerable<Madrasa.Models.User>
@{
    ViewBag.Title = "ViewUser";
}


<script type="text/javascript">
    var DeleteList = [];
    //Event function : when checkbox checked. we add the checked Id
    function addIdToDeleteList(id) {
        //if ID exist in the list remove it from the list
        for (var i = 0; i < DeleteList.length; i++) {
            if (DeleteList[i] == id) {
                DeleteList.pop(id);
                return;
            }
        }
        //if ID not exist add to delete list
        DeleteList.push(id);
    }

    //Event Function
    function sendDeleteList() {
        var list = json_encode(DeleteList);
        document.getElementById("deleteIdsList").value = list;
    }
</script>
<h2>ViewUser</h2>
<div style="direction:ltr">
@using (Html.BeginForm())
{
    <input type="hidden" name="deleteIdsList" id="deleteIdsList" value="[]" />
    <input  type="submit" onclick="sendDeleteList()"  value="Delete checked Users"/>
    <table id = "tableId">
        <tr>
            <td></td>
            <th>
                User
            </th>
            <th>
                Email
            </th>
        </tr>
    @foreach (var item in Model)
    {
        <tr >
            <td>
                <input type="checkbox" onclick="addIdToDeleteList(@item.id )" />
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.email)
            </td>
        </tr>
    }
    </table>
    
}
</div>